<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>general.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>44D820BD1BCB995D0052510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44D820D61BCB995E0052510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44D820E11BCB995E0052510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
